.list-country {
  flex-wrap: wrap;
}

.list-country li {
  width: 50%;
}

.list-country li:nth-child(4n),
.list-country li:nth-child(4n+1) {
  background-color: var(--color-primary);
}

.list-country li:nth-child(4n+2),
.list-country li:nth-child(4n+3) {
  background-color: var(--color-primary-dark);
}

.country {
  width: 100%;
  min-height: 200px;
  justify-content: space-evenly;
}

.country img {
  width: 50%;
  opacity: 0.8;
  border: 4px solid white;
  border-radius: 4px;
}

.country .detail-wrapper {
  width: 100%;
  align-items: flex-end;
  text-align: end;
  padding-right: 16px;
}

.country .detail-wrapper h4 {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.country .detail-wrapper p {
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
}
