* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  color: white;
  background-color: #ad3463;

  --color-primary-ligth: #EC4C8A;
  --color-primary: #DB4680;
  --color-primary-dark: #CF4378;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

header {
  padding: 12px;
  justify-content: space-between;
}