* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #ad3463;

  --color-primary-ligth: #ec4c8a;
  --color-primary: #db4680;
  --color-primary-dark: #cf4378;
}

a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.max-width {
  width: 100%;
  min-height: 300px;
}

.no-styling {
  list-style: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.App {
  text-align: center;
}

header {
  padding: 12px;
  justify-content: space-between;
}
